<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.classify.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.example.classify.entity.Category">
    <id column="CATEGORY_ID" jdbcType="VARCHAR" property="categoryId" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="DATETIME" jdbcType="VARCHAR" property="datetime" />
    <result column="COVER" jdbcType="VARCHAR" property="cover" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    CATEGORY_ID, TITLE, REMARK, DATETIME, COVER, USER_ID
  </sql>
  <select id="selectCategorys" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from category
    where USER_ID = #{userId,jdbcType=VARCHAR}
    order by DATETIME
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where CATEGORY_ID = #{categoryId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from category
    where CATEGORY_ID = #{categoryId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.classify.entity.Category">
    insert into category (CATEGORY_ID, TITLE, REMARK, 
      DATETIME, COVER, USER_ID
      )
    values (#{categoryId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{datetime,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.classify.entity.Category">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        CATEGORY_ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="datetime != null">
        DATETIME,
      </if>
      <if test="cover != null">
        COVER,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.classify.entity.Category">
    update category
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null">
        DATETIME = #{datetime,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        COVER = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where CATEGORY_ID = #{categoryId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.classify.entity.Category">
    update category
    set TITLE = #{title,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      DATETIME = #{datetime,jdbcType=VARCHAR},
      COVER = #{cover,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR}
    where CATEGORY_ID = #{categoryId,jdbcType=VARCHAR}
  </update>
</mapper>