<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.classify.mapper.ImageMapper">
  <resultMap id="BaseResultMap" type="com.example.classify.entity.Image">
    <id column="IMAGE_ID" jdbcType="VARCHAR" property="imageId" />
    <result column="CATEGORY_ID" jdbcType="VARCHAR" property="categoryId" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="LABEL1" jdbcType="VARCHAR" property="label1" />
    <result column="LABEL2" jdbcType="VARCHAR" property="label2" />
    <result column="DATETIME" jdbcType="VARCHAR" property="datetime" />
  </resultMap>
  <sql id="Base_Column_List">
    IMAGE_ID, CATEGORY_ID, URL, LABEL1, LABEL2, DATETIME
  </sql>
  <select id="selectImages" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from image
    where CATEGORY_ID = #{categoryId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from image
    where IMAGE_ID = #{imageId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from image
    where IMAGE_ID = #{imageId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.classify.entity.Image">
    insert into image (IMAGE_ID, CATEGORY_ID, URL, 
      LABEL1, LABEL2, DATETIME
      )
    values (#{imageId,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{label1,jdbcType=VARCHAR}, #{label2,jdbcType=VARCHAR}, #{datetime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.classify.entity.Image">
    insert into image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="imageId != null">
        IMAGE_ID,
      </if>
      <if test="categoryId != null">
        CATEGORY_ID,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="label1 != null">
        LABEL1,
      </if>
      <if test="label2 != null">
        LABEL2,
      </if>
      <if test="datetime != null">
        DATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="imageId != null">
        #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="label1 != null">
        #{label1,jdbcType=VARCHAR},
      </if>
      <if test="label2 != null">
        #{label2,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.classify.entity.Image">
    update image
    <set>
      <if test="categoryId != null">
        CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="label1 != null">
        LABEL1 = #{label1,jdbcType=VARCHAR},
      </if>
      <if test="label2 != null">
        LABEL2 = #{label2,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null">
        DATETIME = #{datetime,jdbcType=VARCHAR},
      </if>
    </set>
    where IMAGE_ID = #{imageId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.classify.entity.Image">
    update image
    set CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      LABEL1 = #{label1,jdbcType=VARCHAR},
      LABEL2 = #{label2,jdbcType=VARCHAR},
      DATETIME = #{datetime,jdbcType=VARCHAR}
    where IMAGE_ID = #{imageId,jdbcType=VARCHAR}
  </update>
</mapper>