<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.classify.mapper.ImageMapper">
  <resultMap id="BaseResultMap" type="com.example.classify.entity.Image">
    <id column="IMAGE_ID" jdbcType="VARCHAR" property="imageId" />
    <result column="CATEGORY_ID" jdbcType="VARCHAR" property="categoryId" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="LABEL1" jdbcType="VARCHAR" property="label1" />
    <result column="LABEL2" jdbcType="VARCHAR" property="label2" />
    <result column="DATETIME" jdbcType="VARCHAR" property="datetime" />
    <result column="DEL_FLAG" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    IMAGE_ID, CATEGORY_ID, URL, LABEL1, LABEL2, DATETIME, DEL_FLAG
  </sql>
  <select id="selectImages" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from image
    where CATEGORY_ID = #{categoryId,jdbcType=VARCHAR} and DEL_FLAG = '0'
  </select>
  <delete id="deleteImages" parameterType="java.lang.String">
    delete from image
    where CATEGORY_ID = #{categoryId,jdbcType=VARCHAR}
  </delete>
  <update id="logicDeleteImages" parameterType="java.lang.String">
    update image
    set DEL_FLAG = '1'
    where CATEGORY_ID = #{categoryId,jdbcType=VARCHAR}
  </update>
  <insert id="insert" parameterType="com.example.classify.entity.Image">
    insert into image (IMAGE_ID, CATEGORY_ID, URL, 
      LABEL1, LABEL2, DATETIME, DEL_FLAG
      )
    values (#{imageId,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{label1,jdbcType=VARCHAR}, #{label2,jdbcType=VARCHAR}, #{datetime,jdbcType=VARCHAR}, '0'
      )
  </insert>

</mapper>